@import "./variables/colors.scss";
@import "./variables/file.scss";
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.hidden {
  display: none !important;
}

.App {
  text-align: center;
  background-color: $color4;
  font-size: calc(10px + 2vmin);
  color: $color0;
}

.page{
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
}

.header {
  height: 20vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.horizontal-menu {
  display: flex;
  justify-content: space-around;
  min-width: 15em;
}

.horizontal-menu a {
  color: $color0;
  text-decoration: none;
}

.content {
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.load-screen {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: $color6;
}

.load-screen-img {
  background: url($small-logo-no-frame);
  background-size: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 6em;
  height: 6em;
  margin-top: -3em;
  margin-left: -3em;
  pointer-events: none;
}


@media (prefers-reduced-motion: no-preference) {
  .load-screen-img {
    animation: load-screen-img-spin infinite 5s ease-in-out;
  }
}

@keyframes load-screen-img-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
