.ag-courses-item_link {
  display: block;
  padding: 20px 20px;
  overflow: hidden;
  position: relative;
}

.ag-courses-item_link:hover .ag-courses-item_text {
  position: relative;
  color: #FBFBFB !important;
  z-index: 1000;
}

.ag-courses-item_link:hover .connect-button {
  color: rgba(0, 0, 0, 0.4) !important;
  background-color: #FBFBFB !important;
}

.ag-courses-item_link:hover .ag-courses-item_bg {
  -webkit-transform: scale(10);
  -ms-transform: scale(10);
  transform: scale(10);
}

.ag-courses-item_bg {
  height: 128px;
  width: 128px;
  color: black;
  z-index: 1;
  position: absolute;
  top: -75px;
  right: -75px;
  border-radius: 50%;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.ag-courses-item_bg_low {
  background-color: #547348;
}

.ag-courses-item_bg_medium {
  background-color: #CEA249;
}

.ag-courses-item_bg_high {
  background-color: #6F3A32;
}

.ag-courses-item_bg_neutral {
  background-color: #3C3F43;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

a {
  text-decoration: none;
  color: black;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.primary-color {
  fill: #547348 !important;
}

.secondary-color {
  fill: #CEA249 !important;
}

.error-color {
  fill: #6F3A32 !important;
}

.hidden {
  display: none !important;
}

.App {
  background-color: #efeeee;
  font-size: calc(10px + 2vmin);
  color: #3C3F43;
  height: 100vh;
  overflow: scroll;
  max-width: 100vw;
  overflow-x: hidden;
}

.page {
  display: flex;
  min-height: 100vh;
}

.header {
  background-color: #FBFBFB;
  position: sticky;
  top: 0;
  z-index: 1000;
  height: 95vh;
  padding: 2.5vh;
  width: 8em;
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: start;
}

.menu a {
  color: #3C3F43;
  text-decoration: none;
}

.content {
  min-height: 80vh;
  margin-left: 1em;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.load-screen {
  position: absolute;
  align-self: center;
  height: 100vh;
  z-index: 9999;
  top: 0;
}

.load-screen-img {
  position: absolute;
  top: 50vh;
  pointer-events: none;
}

.text-center {
  text-align: center;
}

.button {
  background-color: #3C3F43 !important;
  color: #FBFBFB !important;
}

.button:hover {
  border: 1px solid #3C3F43 !important;
  background-color: #efeeee !important;
  color: #3C3F43 !important;
}

.button-right {
  position: absolute !important;
  bottom: 2em;
  right: 2em;
}

.button-right1 {
  position: absolute;
  bottom: 4em;
  right: 3em;
}

.button-right2 {
  position: absolute;
  bottom: 1em;
  right: 4em;
}

@media (prefers-reduced-motion: no-preference) {
  .load-screen-img {
    animation: load-screen-img-spin infinite 5s ease-in-out;
  }
}
@keyframes load-screen-img-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*# sourceMappingURL=App.css.map */
