@import "./variables/colors.scss";
@import "./variables/file.scss";
@import "./components/cards.scss";
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

a {
  text-decoration: none;
  color: black;
}


.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.primary-color {
  fill: $color1 !important;
}
.secondary-color {
  fill: $color3 !important;
}
.error-color {
  fill: $color2 !important;
}

.hidden {
  display: none !important;
}

.App {
  background-color: $color4;
  font-size: calc(10px + 2vmin);
  color: $color0;
  height: 100vh;
  overflow: hidden;
  max-width: 100vw;
}

.page{
  display: flex;
  min-height: 100vh;
}

.header {
  background-color: $color5;
  position: sticky;
  top: 0;
  z-index: 1000;
  height: 95vh;
  padding: 2.5vh;
  width: 8em;
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: start;
}

.menu a {
  color: $color0;
  text-decoration: none;
}

.content {
  min-height: 80vh;
  max-height: 100vh;
  overflow-y: scroll;
  margin-left: 1em;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-right: 0.2em;
}

.load-screen {
  position: absolute;
  align-self: center;
  height: 100vh;
  z-index: 9999;
  top: 0;
}

.load-screen-img {
  position: absolute;
  top: 50vh;
  pointer-events: none;
}
.text-center {
  text-align: center;
}

.button {
  background-color: $color0 !important;
  color: $color5 !important;
}

.button:hover {
  border: 1px solid $color0 !important;
  background-color: $color4 !important;
  color: $color0 !important;
}

.button-right {
  position: absolute !important;
  bottom: 2em;
  right: 2em;
}

.button-right1 {
  position: absolute;
  bottom: 4em;
  right: 3em;
}

.button-right2 {
  position: absolute;
  bottom: 1em;
  right: 4em;
}


@media (prefers-reduced-motion: no-preference) {
  .load-screen-img {
    animation: load-screen-img-spin infinite 5s ease-in-out;
  }
}

@keyframes load-screen-img-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
